<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="directory">${spring:app.log.directory:-log}</Property>
    <Property name="layout">${spring:app.log.layout:-EcsLayout.json}</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout disableAnsi="false">
        <pattern>
          %highlight{%d %-5level} [%X{ID}] [%style{%t - %T}{bright,blue}] %c{1.} %style{%msg%n%throwable}{green}
        </pattern>
      </PatternLayout>
    </Console>

    <RollingFile name="RollingFile"
      fileName="${directory}/app-${date:yyyy-MM-dd-HH}.log"
      filePattern="${directory}/app-%d{yyyy-MM-dd-HH}.%i.log">
      <JsonTemplateLayout eventTemplateUri="classpath:${layout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>